@charset "UTF-8";
@import "../style.css"; /*Copy all CSS from the main style and use it in here, everything below is modifications

/* Standard CSS, not media-based */
button {
	color : white;
}

nav button {
	padding : 7px 16px;
	border-radius : 16px;
}

.masthead {
	background-image : url("../Images/icons/SpartanOS.png");
	font-family : none;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
}
.masthead h1 {
	font-size : 3rem;
}
.masthead button {
	color : white;
	font-size : 1.25rem;
	margin-top : 20px;
}
.masthead .quote {
	font-size : 1.875rem;
}

.title {
	font-size : 2.25rem;
	font-weight : bold;
	margin : 5px;
}

/* CSS for dark mode */

@media (prefers-color-scheme : dark) {
	.masthead {
		background-color : rgba(0,0,0,0.2);
	}
}

/* CSS for light mode */

@media (prefers-color-scheme : light) {
	h1 {
		color : black;
	}
	.masthead {
		background-color : rgba(219,219,217,0.2);
	}
	.masthead h1 {
		color : white;
	}
	.quote {
		color : white;
	}
}
