@charset "UTF-8";

/* Standard CSS, not media-based */

html {
	box-sizing: border-box;
	font-family: Assistant;
}
body {
	text-align : center;
}
h1, h2, h3 {
	text-decoration : underline;
}
p {
	display : flex;
	font-size : 18px;
	text-align : center;
	justify-content : center;
}
img:not(.pitem img, .navigation img) {
	width : 75%;
}
a:link, a:visited {
	text-decoration : none;
	cursor : auto;
}
code {
	display : flex;
	flex-direction : column;
	align-items : left;
}
button {
	padding : 14px 32px;
	border : 0px;
	border-radius : 32px;
	font-size : 16px;
	cursor : auto;
}
button:hover{
	text-decoration : underline;
}
dl {
	padding-top : 20px;
	text-align : left;
}
dt {
	font-size : 18px;
	font-weight : bold;
	font-style : italic;
	padding-bottom : 5px;
}
dd {
	margin-bottom : 20px;
}
footer {
	display : flex;
	flex-direction : column;
	padding-top : 10px;
	font-size : 18px;
	align-items : center;
}

.navigation {
	display : flex;
	flex-direction : row;
	width : 100%;
	max-height : 10%;
	justify-content : space-around;
	align-items : center;
}
.navigation img {
	max-width : 2.5%;
	max-height : 2.5%;
}

.topnav {
	display : none;
}
.topnav #myLinks {
  display: inherit;
}
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.masthead {
	background-image : url("Images/AriesTechLogo.png");
	background-repeat : no-repeat;
	background-position : center;
	background-size : 50%;
	background-blend-mode : darken;
	height : 86vh;
	max-height : 530px;
	font-family : Audiowide;
}
.masthead h1 {
	font-size : 64px;
	margin-top : 10px;
	margin-bottom : 5px;
	padding-top : 150px;
	text-decoration: none;
}
.masthead p {
	font-size : 40px;
	margin-top : 0px;
	padding-top : 0px;
}
.quote {
	font-size : 20px;
	font-style : italic;
}

.cp { /* column paragraph*/
	display : flex;
	flex-direction : column;
	align-items : center;
}
.cp button {
	margin : 20px;
}

.portfolio {
	display : flex;
	margin-top : 10px;
	justify-content : space-around;
	flex-direction : column;
}
.prow {
	display: flex;
	justify-content : left;
}
.pitem {
	display : flex;
	width : 33%;
	height : 225px;
	padding : 2px;
	justify-content : center;
}
.pitem:hover > img {
	opacity: 0.3;
 }
.pitem:hover > .text {
	visibility : visible;
}

.text {
	visibility : hidden;
	position : absolute;
	justify-content : center;
	align-self : center;
	font-size : 24px;
}
.year {
	font-size : 14px;
}
.author {
	font-size : 14px;
}
.description {
	font-size : 16px;
	color : gold;
}

/* CSS for dark mode */

@media (prefers-color-scheme: dark) {
	html {
		background-color : rgba(25, 25, 25);
		color : white;
	}
	a:link, a:visited {
		color : white;
	}
	a:link:hover, a:visited:hover {
		color : rgba(200, 200, 200);
	}
	a:link:active, a:visited:active {
		color : rgba(175, 175, 175);
	}
	button {
		background-color : white;
		color : black;
	}
	button:hover{
		background-color : rgba(255, 255, 255, 0.8);
	}
	.topnav {
		background-color: rgb(40,40,40);
	}
	.topnav a {
		color: white;
	}
	.year {
		color : darkgrey;
	}
	.author {
		color : lightgrey;
	}
}

/* CSS for light mode */

@media (prefers-color-scheme: light) {
	html {
		background-color : rgb(219,219,217);
		color: black;
	}
	a:link, a:visited {
		color : black;
	}
	a:link:hover, a:visited:hover {
		color : rgba(55, 55, 55);
	}
	a:link:active, a:visited:active {
		color : rgba(80, 80, 80);
	}
	button {
		background-color : black;
		color : white;
	}
	button:hover{
		background-color : rgba(0, 0, 0, 0.8);
	}
	/* .navigation {
		background-color : rgb(205,205,205);
	} */
	.topnav {
		background-color: rgb(200,200,200);
	}
	.topnav a {
		color: black;
	}
	.year {
		color : rgb(15,15,15);
	}
	.author {
		color : rgb(30,30,30);
	}
}

/* CSS for small screens (phones, tablets) */

@media only screen and (max-width: 1000px) {
	.navigation {
		display : none;
	}
	.navigation a, .navigation img {
		display : none;
	}

	.topnav {
		display : block;
		overflow: hidden;
		position: relative;
	}
	.topnav #links {
		display: none;
	}
	.topnav a {
		display: block;
		text-decoration: none;
		font-size: 17px;
	}
	.topnav a.icon {
		display: block;
	}
	
	.masthead h1 {
		font-size : 3em; /*52px;*/
	}
	#quote {
		font-size : 1.5em/*32px;*/
	}
}
