@charset "UTF-8";

html {
	background-color : rgba(25, 25, 25);
	color : rgba(255, 255, 255);
	text-align : center;
	font-family: Lato;
	/* padding : 5px; */
}
h1, h2, h3 {
	text-decoration : underline;
}
p {
	display : flex;
	font-size : 18px;
	text-align : center;
	justify-content : center;
}
img:not(.pitem img, .navigation img) {
	width : 75%;
}
a:link, a:visited {
	color : rgba(255, 255, 255);
	text-decoration : none;
	cursor : auto;
}
a:link:hover, a:visited:hover {
	color : rgba(200, 200, 200);
}
a:link:active, a:visited:active {
	color : rgba(175, 175, 175);
}
code {
	display : flex;
	flex-direction : column;
	align-items : left;
}
button {
	background-color : white;
	color : black;
	padding : 14px 32px;
	border : 0px;
	border-radius : 32px;
	font-size : 16px;
	cursor : auto;
}
button:hover{
	background-color : rgba(255, 255, 255, 0.8);
	text-decoration : underline;
}
/* #top {
	background-color : rgba(255, 255, 255, 0.0);
	background-image : url("Images/icons/more.svg");
	background-repeat : no-repeat;
	background-position : center;
	background-size : 150%;
} */
dl {
	padding-top : 20px;
	text-align : left;
}
dt {
	font-size : 18px;
	font-weight : bold;
	font-style : italic;
	padding-bottom : 5px;
}
dd {
	margin-bottom : 20px;
}
footer {
	display : flex;
	flex-direction : column;
	padding-top : 10px;
	font-size : 18px;
	align-items : center;
}

.navigation {
	display : flex;
	flex-direction : row;
	width : 100%;
	max-height : 3%;
	justify-content : space-around;
	align-items : center;
}
.navigation img {
	/* width : 3%;
	height : 3%; */
	max-width : 2.5%;
	max-height : 2.5%;
}

.masthead {
	background-image : url("Images/AriesTech.png");
	background-repeat : no-repeat;
	background-position : center top;
	background-position-y : -170px;
	background-size : 165%;
	height : 530px;
}
.masthead h1 {
	font-size : 64px;
	margin-top : 10px;
	margin-bottom : 5px;
	padding-top : 150px;
	text-decoration: none;
}
.masthead p {
	font-size : 40px;
	margin-top : 0px;
	padding-top : 0px;
}
.quote {
	font-size : 20px;
	font-style : italic;
}

.cp { /* column paragraph*/
	display : flex;
	flex-direction : column;
	align-items : center;
}
.cp button {
	margin : 20px;
}

.portfolio {
	display : flex;
	margin-top : 10px;
	justify-content : space-around;
	flex-direction : column;
}
.prow {
	display: flex;
	justify-content : left;
}
.pitem {
	display : flex;
	/* background-image : url("AtlasCorpLogoV4.png"); */
	width : 33%;
	height : 225px;
	/* background-size : 100%; */
	padding : 2px;
	justify-content : center;
}
.pitem:hover > img{
	opacity: 0.3;
 }
.pitem:hover > .text {
	visibility : visible;
}

.text {
	visibility : hidden;
	position : absolute;
	justify-content : center;
	align-self : center;
	font-size : 24px;
}
.year {
	font-size : 14px;
	color : darkgrey;
}
.author {
	font-size : 14px;
	color : lightgrey;
}
.description {
	font-size : 16px;
	color : gold;
}
