@charset "UTF-8";

html {
	box-sizing: border-box;
	background-color : rgba(25, 25, 25);
	color : rgba(255, 255, 255);
	font-family: Assistant;
}
h1, h2, h3 {
	text-decoration : underline;
}
img:not(.pitem img, .navigation img) {
	width : 75%;
}
button {
	background-color : white;
	color : black;
	padding : 14px 32px;
	border : 0px;
	border-radius : 32px;
	font-size : 16px;
	cursor : auto;
}
button:hover{
	background-color : rgba(255, 255, 255, 0.8);
	text-decoration : underline;
}
p {
	margin-top : 5px;
}
p, a, footer {
	font-size : 18px;
}
a, footer {
	text-align : center;
}
a:link, a:visited {
	color : rgba(255, 255, 255);
	text-decoration : none;
	cursor : auto;
}
a:link:hover, a:visited:hover {
	color : rgba(200, 200, 200);
}
a:link:active, a:visited:active {
	color : rgba(175, 175, 175);
}
footer {
	display : flex;
	flex-direction : column;
	align-items : center;
}

#title {
	display : flex;
	flex-direction: column;
	width : 100%;
	justify-content : center;
	padding-left : 20px;
}
#title h1 {
	font-size : 64px;
	margin-top : 10px;
	margin-bottom : 5px;
	text-decoration: none;
	/* text-align : center; */
}
#title h2 {
	font-size : 40px;
	margin-top : 0px;
	padding-top : 0px;
	text-decoration: none;
}

.navigation {
	background-color : rgb(35,35,35);
	width : 8%;
	height : 100vh;
	font-size : 16px;
	text-align : center;
	border-radius : 0px 20px 20px 0px;
}
.navigation label {
	display : flex;
	flex-direction : column;
	padding : 10px;
	border-radius : 0px 20px 20px 0px;
}
.navigation label:hover {
	background-color : gray;
}
.navigation img {
	width : 55%;
	align-self : center;
}
.navigation a {
	font-size : 14px;
}

.page {
		display : flex;
		flex-direction : row;
}
.masthead {
	display : flex;
	flex-direction : row;
	background-image : url("../Images/AriesTech.png");
	background-repeat : no-repeat;
	background-position : center top;
	background-position-y : -170px;
	background-size : 165%;
	height : 86vh;
}

.cp { /* column paragraph*/
	display : flex;
	flex-direction : column;
	align-items : center;
}
.cp button {
	margin : 20px;
}

.portfolio {
	display : flex;
	margin-top : 10px;
	flex-direction : column;
}
.prow {
	display: flex;
	justify-content : left;
}
.pitem {
	display : flex;
	width : 33%;
	height : 225px;
	padding : 2px;
	justify-content : center;
}
.pitem:hover > img{
	opacity: 0.3;
 }
.pitem:hover > .text {
	visibility : visible;
}
.pimg {
	width : 100%;
}

.text {
	visibility : hidden;
	position : absolute;
	align-self : center;
	text-align : center;
	font-size : 24px;
}
.year {
	font-size : 14px;
	color : darkgrey;
}
.author {
	font-size : 14px;
	color : lightgrey;
}
.description {
	font-size : 16px;
	color : gold;
}
